<!--load django's static template tag-->
{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!--link to external css using django static template tag-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"
</head>

<body>
    <div class="container">
        <div class="form">
            <h1>Create your account here!</h1>
            <form method="POST">
                <!--Django's token for security-->
                {% csrf_token %}
                <!--render django's form fields as <p> elements-->
                {{ form.as_p }}
                <button type="submit" class="btn-primary">Register</button>
            </form>
        </div>
        <div class="footer_form">
            <p>
                <!--link to external JS file for form validation-->
                Do you have an account? <a href="{% url 'login' %}" class="link">Log in</a>
            </p>
        </div>
    </div>
    
    <script src="{% static 'js/form-validation.js' %}" defer></script>

</body>

</html>