<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form method="POST" action="{% url 'login' %}">
        {%csrf_token %}
        <label="username">Username:</label>
        <input type="text" id="username" name="username" required>
    
        <label="password">Password:</label>
        <input type="password" id="password" name="password" required>
    
        <button type="submit">Login</button>
    </form>

    <!--conditional block to display messages. checks if
    are messages to display-->
    {% if messages %}
        <ul>
            <!--loop through each message in the messages object and displays
            each message as a list item-->
            {% for message in messages %}
               
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
</body>
</html>