<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <h1>Welcome to Surf Spots Tenerife</h1>

    <h3>{{ request.user.username }}</h3>

    <a href="{% url 'logout' %}">Logout</a>

    <!--Post form-->
    <h2>Post a surf spot</h2>
    <form id="create-post-form"></form>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea>

        <label for="best_seasons">Best seasons (Optional):</label>
        <textarea name="best_seasons" id="best_seasons" required></textarea>

        <button type="submit">Submit</button>

    </form>
    
    <div id="success-message"></div>

</body>

</html>