<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!--link to shared css file-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div>
        <h1>Welcome to Surf Spots Tenerife</h1>
        <p>Share your favourite surf locations to the community!</p>
    </div>

    <h3>{{ request.user.username }}</h3>
    <a href="{% url 'logout' %}">Logout</a>

    <!-- success and error message -->
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <!--form to create surf spot Post-->
    <form id="create-post-form" method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <h2>Surf spots</h2>
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required>

        <label for="location">Location:</label>
        <input type="text" id="location" name="location" required>

        <label for="description">Description:</label>
        <textarea name="description" id="description" required></textarea>

        <label for="best_seasons">Best seasons:</label>
        <textarea name="best_seasons" id="best_seasons"></textarea>

        <button type="submit">Submit</button>
    </form>

    <!-- surf spots list container -->
    <div id="surf-spots-list">
        <h2>Surf Spots</h2>
        {% for spot in surf_spots %}
        <div class="surf-spot">
            <h3>{{ spot.title }}</h3>
            <p>Location: {{ spot.location }}</p>
            <p>Description: {{ spot.description }}</p>
            <p>Best seasons: {{ spot.best_seasons|default:"Not specified" }}</p>
            <p>Posted by: {{ spot.user.username }}</p>
            <p>Date: {{ spot.created_at }}</p>
        </div>
        {% endfor %}
    </div>

    <!-- form error messages "Ensure form.errors.items correctly matches the Django Form API."-->
    {% if form.errors %}
    <div class="form-errors">
        {% for field, errors in form.errors.items %}
        <p><strong>{{ field|capfirst }}:</strong> {{ errors|join:", " }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <script src="{% static 'js/display-posts.js' %}"></script>

</body>

</html>