{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="auth-container">
    <h1>Welcome!</h1>
    <p class="login-subtitle">Please log in to acces surf spots</p>

    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    {% if messages %}
    <ul class="error">
        {% for message in messages %}
        <li class="{{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    <p class="footer-text">
        Don't have an account? <a href="{% url 'register' %}" class="link">Register here</a>
    </p>
</div>
{% endblock %}