<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ surf_spot.title }}</title>
    <!--link to shared css file-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <div class="detail-container">
        <h1>{{ surf_spot.title }}</h1>
        <p><strong>Location:</strong> {{ surf_spot.location }}</p>
        <p><strong>Description:</strong> {{ surf_spot.description }}</p>
        <p><strong>Best Seasons:</strong> {{ surf_spot.best_seasons }}</p>
        <p><strong>Posted by:</strong> {{ surf_spot.user.username }}</p>
        <p><strong>Date:</strong> {{ surf_spot.created_at }}</p>


        <!-- delete button for admin or post owner -->
        {% if request.user.is_superuser or surf_spot.user == request.user %}
        <form method="POST" action="{% url 'delete_post' surf_spot.id %}" style="display:inline;">
            {% csrf_token %}
            <button type="submit" class="delete-btn">Delete</button>
        </form>
        {% endif %}


        <!-- Back to homepage link -->
        <a href="{% url 'home' %}" class="link">Back to homepage</a>


        <!-- Display existing comments -->
        <div class="comments-section">
            <h2>Comments</h2>
            {% if surf_spot.comments.all %}
            {% for comment in surf_spot.comments.all %}
            <div class="comment">
                <p><strong>{{ comment.user.username }}</strong> written on {{ comment.created_at|date:"M d, Y H:i" }}
                </p>
                <p>{{ comment.content }}}</p>


                <!-- delete button for admin or post owner -->
                {% if request.user.is_superuser or comment.user == request.user %}
                <form method="POST" action="{% url 'delete_comment' comment.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="delete-btn">Delete</button>
                </form>
                {% endif %}
            </div>
            {% endfor %}
            {% else %}
            <p>No comments yet.</p>
            {% endif %}
        </div>

        <!-- comment form for logged in users -->
        {% if request.user.is_authenticated %}
        <div class="comment-form">
            <h3>Add a comment</h3>
            <form method="POST" action="{% url 'add_comment' surf_spot.id %}">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit" class="btn-primary">Post Comment</button>
            </form>
        </div>
        {% else %}
        <p>You must <a href="{% url 'login' %}">Log in</a> to post a comment.</p>
        {% endif %}
    </div>

</body>

</html>